<!-- about -->
<section class="section bg-cover" data-background="{{ site.baseurl }}/assets/images/backgrounds/bg-about.png">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto text-center">
        <p class="font-secondary paragraph-lg text-dark">{{ site.data.settings.blurb }}</p>
      </div>
    </div>
  </div>
  <!-- bg image -->
  <!-- <img class="img-fluid edu-bg-image w-100" src="{{ site.baseurl }}/assets/images/backgrounds/bg-about.png" alt="bg-image"> -->
</section>
<!-- /about -->